<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/top.css">
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="title">
        <p>智能机票比较系统</p>
     </div>
     <div class="nav">
       <div class="nav-box">
       <ul>
          <li class="active"><a href="./home.html">首页</a></li>
          <li><a href="">热点新闻</a></li>
          <li><a href="/price">智能比价</a></li>
          <li><a href="/website">航司官网</a></li>
          <li><a href="">假期</a></li>
          <li><a href="">联系我们</a></li>
       </ul>
       <ul>
           <li><a href="">登录</a> |</li>
           <li><a href="">注册</a></li>
       </ul>
     </div>
     </div>
     <div class="main">
        <div class="info">
            <div class="info-title">国内热门</div><div class="triangle"></div>
        </div>

        <div class="hot-list">
           <ul>
             <li>
               <p class="item-name">
                 <span>南京</span>
                 <img src="./img/back.png" alt="" class="back">
                 <span>上海</span>
               </p>
               <p class="item-date">
                 <span>3月14日</span>
               </p>
               <p class="money">
                  <span class="tag">￥</span>
                  <span class="money-mun">260</span>
                  <span class="money-tit">起</span>
               </p>
             </li>
             <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>

            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
            <li>
              <p class="item-name">
                <span>南京</span>
                <img src="./img/back.png" alt="" class="back">
                <span>上海</span>
              </p>
              <p class="item-date">
                <span>3月14日</span>
              </p>
              <p class="money">
                 <span class="tag">￥</span>
                 <span class="money-mun">260</span>
                 <span class="money-tit">起</span>
              </p>
            </li>
           </ul>
        </div>
     </div>
</body>
</html>